.button{
    display: flex;
    height:4em;
    flex:1;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size:1.4em;
    background-color: rgb(108, 125, 201);
    color:rgb(214, 25, 25);
    outline: 1px solid lightgrey;
    

}
