.input{
    display: flex;
    height:4em;
    flex:1;
    background-color: rgb(3, 11, 19);
    outline:1px solid brown;
    color:lightyellow;
    justify-content: flex-end;
    padding:0.5em;
    font-weight:bold;
    font-size:1.4em;
    align-items: center;
    
}